.vscode
vendor
composer.lock
examples/storage/*
!examples/storage/.gitkeep
examples/logs/*
!examples/logs/.gitkeep
examples/storage/store/*
!examples/storage/store/.gitkeep
examples/bot.php
examples/config.php
.phpdoc
phpdoc
phpdoc.phar
test.php
component.php